extends layout
block globalVars
  - var siteTitle = '文章列表'
block content
  div(ng-controller="list" class="lpadmin-list")
    ul.lpblock
      li
        span.lpadmin-list-id #
        span.lpadmin-list-title #{static.title}
        span.lpadmin-list-date #{static.date}
        span.lpadmin-list-handle #{static.handle}
      li(ng-repeat="item in list")
        span.lpadmin-list-id(ng-bind="$index")
        span.lpadmin-list-title(ng-bind="item.title")
        span.lpadmin-list-date(ng-bind="formatTime(item)")
        span.lpadmin-list-handle
          a(ng-href="/admin/edit#?title={{item.title}}") #{static.modify}
          a(ng-click="del(item._id, item.title, $index)" href="JavaScript:") #{static.delete}
