div.lparticleblock
  div.lparticleblock-info
    a(href="/article/#{article.title}") #{article.title}
    span #{moment(article.meta.createAt).format('YYYY-MM-DD')}
  div.lparticleblock-link
    span category
    a.lpicon-category(href="/category/#{article.category.title}") #{article.category.title}
    span tags
    for tag in article.tag
      a.lpicon-tag(href="/tag/#{tag.title}") #{tag.title}
    div.lparticleblock-content.markdown
      != md(article.content.substr(0, 100))
